.LoginForm {
  width: 100%;
  display: flex;
}

.leftCnt {
  width: 60%;
  box-sizing: border-box;
}

.leftCnt img {
  width: 90%;
  height: 90%;
  object-fit: contain;
  padding: 1rem;
}

.rightCnt {
  box-sizing: border-box;
  width: 40%;
  margin: auto;
  height: 100%;
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightCnt > div {
  margin: 1rem 0rem;
}

.rightCnt input {
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid grey;
}
.rightCnt input:focus {
  outline: none;
  border-bottom: 2px solid orange;
}
.rightCnt input:hover:not(:focus) {
  border-bottom: 1px solid rgb(0, 102, 255);
}

.rightCnt button {
  padding: 0.5rem 0rem;
  width: 100px;
  border: none;
  outline: none;
  background-image: linear-gradient(151.05deg, #02ccba, #a951ed);
  color: white;
  border-radius: 10px;
}
