.Navbar {
  width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

@media screen and (max-width: 400px) {
  .Navbar {
    display: none;
  }
}
