.Book {
  display: inline-flex;
  width: 100%;
  z-index: 2;
  min-width: 400px;
  position: relative;
  box-sizing: border-box;
  margin: 1rem;
  font-family: sans-serif;
  border-radius: 10px;
}
.Book:nth-child(4n) {
  background-image: linear-gradient(
    to bottom,
    rgb(109, 184, 79),
    rgb(109, 233, 130),
    rgb(0, 255, 115),
    white
  );
}
.Book:nth-child(4n + 1) {
  background-image: linear-gradient(
    to bottom,
    rgba(204, 0, 255, 0.5),
    rgb(223, 109, 233),
    white
  );
}
.Book:nth-child(4n + 2) {
  background-image: linear-gradient(
    to bottom,
    rgb(109, 163, 233),
    rgb(79, 133, 184),
    rgb(0, 183, 255),
    white
  );
}
.Book:nth-child(4n + 3) {
  background-image: linear-gradient(
    to bottom,
    rgb(109, 184, 79),
    rgb(109, 233, 130),
    rgb(0, 255, 115),
    white
  );
}

.Book__Image {
  width: 40%;
  padding: 1rem 0;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.Book__Image img {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}
.Book__Image img:hover {
  transform: scale(1.3);
}

.Book__description {
  width: 60%;
  padding: 1rem;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.Book__description__title {
  color: white;
  font-size: 1.5rem;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  font-weight: bold;
}
.Book__description__Info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* .Book__description__content {
    max-height: 100px;
    padding: 1rem 0rem;
    color: rgb(255, 255, 255);
    overflow: hidden;
  
  } */

.Book__description__author {
  text-align: center;
  font-weight: bold;
  padding: 0.5rem 0rem;
  align-self: start;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  font-size: 1.3rem;
}
.Book__description__actions {
  display: flex;
  align-items: center;
  opacity: 0;
  box-sizing: border-box;
  justify-content: space-evenly;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border-bottom: 4px solid orange;
  transition: 0.5s ease-in-out;
  background-color: #eeeeee;
  margin-top: 0.5rem;
  padding: 0.4rem;
  flex-wrap: wrap;
  overflow: auto;
}

.favorite {
  color: red;
}
.Book__description__actions a {
  text-decoration: none;

  color: rgb(238, 183, 4);
}
.Book__description__actions i {
  background-color: #eeeeee;
  padding: 0.5rem;
  margin: 0.5rem 0rem;
  border-radius: 5px;
  border: 1px solid #eeeeee;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4),
    -4px -4px 4px rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}
.Book__description__actions i:hover,
.Book__description__actions .knowMoreBtn:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4),
    -4px -4px 4px rgba(255, 255, 255, 0.6), inset 4px 4px 4px rgba(0, 0, 0, 0.2);
  border: 2px solid orange;
}

.Book__description__categories {
  text-align: center;
  display: inline-block;
  border-radius: 15px;
  /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4); */
  background-color: white;
  padding: 0.5rem;
  font-size: 1rem;
  color: grey;
}

.Book__description__categories:hover {
  color: black;
}
.knowMoreBtn {
  background-color: #eeeeee;
  padding: 0.5rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4),
    -4px -4px 4px rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}

.Book:hover .Book__description__actions {
  opacity: 1;
}

@media screen and (min-width: 1000px) {
  .Book {
    display: inline-flex;
    width: 45%;
    min-width: 500px;
    min-height: 300px;
    max-width: 800px;
    box-sizing: border-box;
  }
}
