.Auth {
  width: 100%;
  margin: auto;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4), 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  height: 60vh;
  flex-direction: column;
}

.AuthNavigator {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0;
  /* box-shadow: inset 4px 4px 5px rgba(0, 0, 0, 0.07),
    inset -4px -44px 5px rgba(0, 0, 0, 0.07); */
  padding: 2rem;
  padding-bottom: 0;
}
.AuthNavigator > div {
  width: 45%;
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 0.2rem;
  transition: 0.3s ease-in-out;
}
.LoginIndicator {
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  width: 40%;
  background-color: orange;
}
.SignUpIndicator {
  position: absolute;
  bottom: 0;
  transform: translateX(50%);
  width: 40%;
  background-color: orange;
}
.formContainer {
  padding: 1rem;
  position: relative;
  flex-grow: 1;
  z-index: 2;
  background-color: #f1f1f1;
}
.formContainer input {
  border: none;
  outline: none;
  padding: 0rem 1rem;
  color: white;
  background-color: transparent;
}
.formContainer input::placeholder {
  color: white;
}
.formContainer input:hover:not(:focus) {
  border: none;
  border-bottom: 1px solid white;
  outline: none;
}
.formContainer .LoginForm,
.formContainer .SignUpForm {
  display: flex;
  position: absolute;
  transition: 0.3s ease-in;
  background-color: white;
  flex-direction: column;
  width: 90%;
  /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4), 0px 0px 10px rgba(0, 0, 0, 0.2); */
  padding: 1rem;
  height: 90%;
  box-sizing: border-box;
  margin: 1rem;
  justify-content: center;
  z-index: 0;
  align-items: center;
}
.formContainer .LoginForm > div:not(:last-child),
.formContainer .SignUpForm > div:not(:last-child) {
  margin: 0.6rem;
  padding: 0.5rem 1rem;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    rgb(0, 153, 255),
    rgb(6, 123, 201)
  );
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.formContainer .LoginForm img,
.formContainer .SignUpForm img {
  margin-right: 0.7rem;
}
.formContainer input:focus {
  outline: none;
  border: none;
  width: 70%;
  border-bottom: 2px solid rgb(184, 72, 236);
}
.LoginForm.Hide {
  transform: translateX(200vh);
}

.SignUpForm.Hide {
  transform: translateX(-200vh);
}
.formContainer button {
  padding: 1rem;
  background-image: linear-gradient(
    to right,
    rgb(0, 153, 255),
    rgb(6, 123, 201)
  );
  border: none;
  outline: none;
  color: white;
  font-family: monospace;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 8px;
  padding: 1rem 4rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.LoginForm.Show,
.SignUpForm.Show {
  transform: translateX(0);
}

@media screen and (min-width: 1000px) {
  .Auth {
    width: 60%;
    margin: 5rem auto;
  }
}
