.SideSpace {
  width: 100%;
  padding: 1rem;
  display: none;
}

.SideSpace img {
  width: 90%;
  height: 90%;
  border: 2px solid orange;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 1000px) {
  .SideSpace {
    display: block;
    width: 25%;
    box-sizing: border-box;
  }
}
